RewriteEngine On


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/mungnam/notfound\.php$
RewriteCond %{REQUEST_FILENAME} !\.(css|js|png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot)$ [NC]
RewriteRule ^(.*)$ notfound.php [L]


ErrorDocument 404 /mungnam/notfound.php